NEXT_PUBLIC_SITE_URL=https://rybiapaka.pl
BETTER_AUTH_URL=https://rybiapaka.pl
NEXTAUTH_URL=https://rybiapaka.pl

NEXTAUTH_SECRET=CHANGE_ME_TO_LONG_RANDOM
AUTH_SECRET=CHANGE_ME_TO_LONG_RANDOM
BETTER_AUTH_SECRET=CHANGE_ME_TO_LONG_RANDOM

DATA_BASE_URL=https://rybiapaka-data.up.railway.app
DATA_SERVICE_TOKEN=change-me
GALLERY_BASE_URL=https://rybiapaka-gallery.up.railway.app
GALLERY_SERVICE_TOKEN=change-me
DATA_DB_PROVIDER=postgresql

PORT=3000
